.container{
    
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 700px;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding:10px;
    align-content: center;
    
    }
.logo{
    margin: -50px auto 0;
    overflow: hidden;
    max-width: 150px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    max-height: 150px;
    border-radius: 50%;
}
#logoimg{
    width: 100%;
    height: auto;
}

.userlogin{
    text-align: center;
    color: #2bbbad;    
    
}
